.title {
  padding-top: 5rem;
  --fluid-type-min: 1.1rem;
  --fluid-type-max: 1.5rem;
  --fluid-type-target: 5vw;
  font-family: var(--font-serif);
}

.description {
  --fluid-type-min: 1rem;
  --fluid-type-max: 1rem;
  --fluid-type-target: 4vw;
  font-family: var(--font-sans-serif);
  font-weight: 400;
  line-height: 1.6em;
  margin-top: 0.5rem;
  color: var(--color-zinc-600);
}