.kbarContainer {
  padding-top: 2rem;
}

.kbarButton {
  cursor: pointer;
  color: var(--color-zinc-950);
  font-family: var(--font-sans);
  padding: 2px 8px 4px 8px;
  border-radius: 1em;
  outline: none;
  transition: var(--transition-primary);
  text-align: center;
  background: transparent;
  display: block;
  align-items: center;
  border: none;

  --fluid-type-max: 1rem;
}

.kbarButton:hover {
  background: var(--color-zinc-500);
}

.kbarButton code {
  text-align: center;
  color: var(--color-zinc-950);
  font-family: var(--font-mono);
  border: none;
  border-bottom: 1px dotted var(--color-zinc-950);
  font-weight: 600;
}
