.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--text-color);
  max-width: 45rem;
  padding: 1.2rem 0;
  transition: var(--transition-primary);
}

.name {
  font-weight: 800;
  line-height: 1.2;
  color: var(--text-color);
  font-family: var(--font-primary);
  transition: var(--transition-primary);
  font-feature-settings: "calt" 0, "dlig" 0, "ss02" 1;
  letter-spacing: -0.02em;
  font-optical-sizing: auto;
  --fluid-type-max: 4rem;
  --fluid-type-target: 8vw;
}

.biography {
  color: var(--text-color);
  color: color-mix(in srgb, var(--text-color), var(--bg-color) 15%);
  line-height: 1.5;
  padding-top: 0.4rem;
  font-family: var(--font-secondary);
  font-weight: 300;
  hyphens: auto;
  text-align: justify;
  transition: var(--transition-primary);
  /* --fluid-type-min: 0.7rem; */
  --fluid-type-max: 1.1rem;
}

@media (min-width: 768px) {
  .biography {
    text-align: start;
  }
}

.username {
  color: var(--text-color);
  font-family: var(--font-primary);
  font-weight: 200;
  padding: 0.2rem 0;
  transition: var(--transition-primary);
}

.socialContainer {
  padding-top: 0.8rem;
}