.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-zinc-900);
  max-width: 45rem;
  padding: 1.2rem 0;
  transition: var(--transition-primary);
}

.name {
  font-weight: 800;
  line-height: 1.2;
  color: var(--color-zinc-900);
  font-family: var(--font-sans-serif);
  transition: var(--transition-primary);
  letter-spacing: -0.02em;
  font-optical-sizing: auto;
  font-family: var(--font-serif);
  --fluid-type-max: 3rem;
  --fluid-type-target: 8vw;
}

.biography {
  color: var(--color-zinc-600);
  line-height: 1.5;
  padding-top: 0.4rem;
  font-family: var(--font-sans);
  font-weight: 300;
  hyphens: auto;
  text-align: justify;
  transition: var(--transition-primary);
  --fluid-type-max: 1rem;
}

@media (min-width: 768px) {
  .biography {
    text-align: start;
  }
}

.username {
  color: var(--color-zinc-900);
  font-family: var(--font-sans-serif);
  font-weight: 200;
  padding: 0.2rem 0;
  transition: var(--transition-primary);
}

.socialContainer {
  padding-top: 0.8rem;
}