.themes {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: clamp(1rem, calc(0.5rem + 5vw), 1.2rem);
}

.modalItem {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-primary);
  cursor: pointer;
  border-radius: 22px;
  border: none;
  font-size: clamp(1rem, calc(0.5rem + 5vw), 1.2rem);
}

.modalItem svg {
  color: var(--text-color);
  transition: var(--transition-primary);
}

.modalItem {
  margin-right: 1em;
  padding: 0.5em 0;
  width: 100%;
}

.themes button:last-of-type {
  margin-right: 0;
}