/* cardContainer */
.cardContainer {
  width: 100%;
  margin-top: 0.5em;
  color: var(--color-zinc-700);
  transition: var(--transitonTheme);
}

.publishedAt {
  font-size: 0.8em;
  display: inline-block;
  color: var(--color-zinc-700);
  font-weight: 300;
  font-family: var(--font-mono) !important;
  padding-right: 0.5em;
  min-width: 90px;
}

/* postTitle */
.postTitle {
  display: flex;
  justify-content: flex-start;
  justify-self: flex-start;
  display: inline-block;
  font-weight: 500;
  max-width: fit-content;
  transition: var(--transitonTheme);
  font-family: var(--font-sans), monospace;
  color: var(--color-zinc-900);
  overflow-wrap: anywhere;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--color-zinc-400);
  text-underline-offset: 0.2em;
  --fluid-type-min: 0.9rem !important;
  --fluid-type-max: 1rem !important;
}