.wrapper {
  position: relative;
  display: flex;
  height: 100%;
  border-radius: 0.2em;
  transition: var(--transition-primary);
  background: var(--color-zinc-50);
  font-family: var(--font-sans-serif);
}

.wrapper:hover {
  background: var(--color-zinc-500);
}

.container {
  padding: 1em;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  background: transparent;

  --fluid-type-max: 1.1rem;
}

.container svg {
  fill: var(--color-zinc-900);
  color: var(--color-zinc-900);
  transition: var(--transition-primary);
}

.title {
  color: var(--color-zinc-900);
  font-weight: 600;
  padding-top: 0.8rem;
  font-family: var(--font-sans-serif);
}

.description {
  color: var(--color-zinc-950);
  font-weight: 300;
  padding-top: 0.8rem;
  line-height: 1.5;
  text-align: start;
  font-family: var(--font-sans);
}
