.wrapper {
  position: relative;
  display: flex;
  height: 100%;
  border-radius: 0.2em;
  transition: var(--transition-primary);
  background: var(--bg-color);
  font-family: var(--font-primary);
}

.wrapper:hover {
  background: var(--sub-alt-color);
}

.container {
  padding: 1em;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  background: transparent;

  --fluid-type-max: 1.1rem;
}

.container svg {
  fill: var(--text-color);
  color: var(--text-color);
  transition: var(--transition-primary);
}

.title {
  color: var(--text-color);
  font-weight: 600;
  padding-top: 0.8rem;
  font-family: var(--font-primary);
}

.description {
  color: var(--text-alt-color);
  font-weight: 300;
  padding-top: 0.8rem;
  line-height: 1.5;
  text-align: start;
  font-family: var(--font-secondary);
}
