.fonts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  font-size: clamp(1rem, calc(0.5rem + 5vw), 1.2rem);
}

.range {
  width: 100%;
  font-size: clamp(1rem, calc(0.5rem + 5vw), 1.2rem);
}

.feedback {
  font-family: var(--font-primary);
  padding-left: 0.5em;
  font-size: clamp(1rem, calc(0.5rem + 5vw), 1.2rem);
}

.reset {
  all: unset;
  display: inline-block;
  padding: 0 0.5em;
  padding-top: 0.3em;
  cursor: pointer;
  border: none;
  outline: none;
}