.container {
  color: var(--color-zinc-900);
  width: 100%;
  max-width: 60rem;
  padding-top: 2rem;
  font-family: var(--font-sans-serif);
}

.title {
  font-weight: 600;
  padding: 1rem 0;
  font-family: var(--font-sans-serif);
  color: var(--color-zinc-900);
  transition: var(--transition-primary);

  /* --fluid-type-min: 1.5rem; */
  --fluid-type-max: 2rem;
}

.projectItemContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.year {
  font-weight: 800;
}

.list {
  padding-left: 2.5rem;
}

.listItem {
  font-weight: 200;
  padding: 0.4em 0.6em;
  border-radius: 0.2em;
  position: relative;
  z-index: 2;
  transition: var(--transition-primary);
  background: var(--color-zinc-50);
}

.listItem:hover {
  background: var(--color-zinc-500);
}

.listItemName {
  color: var(--color-zinc-900);
  transition: var(--transition-primary);
  font-family: var(--font-sans-serif);
  font-weight: 300;

  --fluid-type-max: 1rem;
}

.listItemName strong {
  font-weight: 800;
  color: var(--color-zinc-900);
}

.listItemName span {
  padding-left: 0.5rem;
  font-weight: 300;
  color: var(--color-zinc-950);
  line-height: 1.7;
  font-family: var(--font-sans);
}