.text {
  font-weight: 600 !important;
  transition: box-shadow 0.2s ease;
  padding: 0 0.2em;
}

.text,
.text[data-color="yellow"] {
  box-shadow: inset 0 -0.4em 0 0 var(--highlight-yellow);
}

.text:hover,
.text[data-color="yellow"]:hover {
  box-shadow: inset 0 -1.2em 0 0 var(--highlight-yellow);
}

.text[data-color="blue"] {
  box-shadow: inset 0 -.4em 0 0 var(--highlight-blue);
}

.text[data-color="blue"]:hover {
  box-shadow: inset 0 -1.2em 0 0 var(--highlight-blue);
}

.text[data-color="red"] {
  box-shadow: inset 0 -.4em 0 0 var(--highlight-red);
}

.text[data-color="red"]:hover {
  box-shadow: inset 0 -1.2em 0 0 var(--highlight-red);
}

.text[data-color="purple"] {
  box-shadow: inset 0 -.4em 0 0 var(--highlight-purple);
}

.text[data-color="purple"]:hover {
  box-shadow: inset 0 -1.2em 0 0 var(--highlight-purple);
}

.text[data-color="green"] {
  box-shadow: inset 0 -.4em 0 0 var(--highlight-green);
}

.text[data-color="green"]:hover {
  box-shadow: inset 0 -1.2em 0 0 var(--highlight-green);
  ;
}