/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding-top: 2rem;
  position: relative;
  z-index: 3;
  transition: all 0.3s ease;
}

@media screen and (min-width: 620px) {
  .header {
    padding-top: 3rem;
  }
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: wrap;
  font-weight: 600;
}

.nav a {
  color: var(--text-alt-color);
  text-decoration: none;
  font-weight: 600 !important;
  position: relative;
  font-family: var(--font-primary);
  /* --fluid-type-min: 1rem; */
  --fluid-type-max: 1.5rem;
  --fluid-type-target: 3vw;
}

.nav .navItem+.navItem {
  padding-left: 1.5rem;
}

@media screen and (min-width: 620px) {
  .nav {
    flex-flow: nowrap;
    justify-content: space-between;
  }
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  line-height: 1.8;
  transition: var(--transition-primary);
  background: transparent;
}

.navItem[data-active='true'] a {
  color: var(--main-color);
}

.navItem[data-active='true'] a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background: var(--main-color);
  transition: var(--transition-primary);
}

.navItem[data-active='false'] a {
  color: var(--text-alt-color);
  opacity: 0.7;
  transition: var(--transition-primary);
}