/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding-top: 2rem;
  position: relative;
  z-index: 3;
  transition: all 0.3s ease;
}

@media screen and (min-width: 620px) {
  .header {
    padding-top: 3rem;
  }
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: wrap;
  font-weight: 600;
}

.nav a {
  color: var(--text-alt-color);
  text-decoration: none;
  font-weight: 400;
  position: relative;
  font-family: var(--font-primary);
  /* --fluid-type-min: 1rem; */
  --fluid-type-max: 1.5rem;
  --fluid-type-target: 3vw;
}

.nav a {
  padding: 0.1em 0.8em;
}

@media screen and (min-width: 620px) {
  .nav {
    flex-flow: nowrap;
    justify-content: space-between;
  }
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  line-height: 1.8;
  border-radius: 50px;
  transition: var(--transition-primary);
  background: var(--bg-alt-color);
}

.navItem:not(:last-child) {
  margin-right: 1rem;
}

.navItem .link,
.navItem svg {
  color: var(--text-gray-color);
}

.navItem[data-active="active"] {
  background: var(--neutral);
  transition: var(--transition-primary);
}

.navItem:hover {
  background: color-mix(in hsl, var(--bg-alt-color) 60%, var(--neutral) 40%);
}