/* Header */
.header {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  position: fixed;
  transition: var(--transition-primary);
  background: var(--color-zinc-50);
  border-right: 1px solid var(--color-zinc-800);
  width: 100vw;
  height: 4rem;
  z-index: 10;
  padding: 0 1rem;
  border-bottom: 1px solid var(--color-zinc-800);
}

.link {
  color: var(--color-zinc-950);
  font-family: var(--font-sans-serif);
  font-weight: 400;
  --fluid-type-max: 1rem;
  --fluid-type-min: 1rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;

  align-self: center;
  writing-mode: horizontal-tb;
  text-orientation: sideways;
  text-align: center;
}

.link:hover {
  color: var(--main-color);
}

.link:current {
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .header {
    width: 3.5rem;
    height: 100vh;
    height: 100dvh;
    padding: 2rem 0 2rem 0.7rem;
    flex-flow: column;
  }

  .link {
    align-self: flex-start;
    writing-mode: vertical-rl;
    /* Define o texto na vertical, da direita para a esquerda */
    text-orientation: upright;
    /* Mantém as letras em posição vertical */
  }
}