.awesome {
  line-height: 2;
}

.awesome :where(h1, h2, h3, h4, h5, h6) {
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 16px;
  line-height: 1.3;
  border: none !important;
  font-family: var(--font-code);
}

.awesome h1:first-child {
  margin-top: 0;
}

.awesome h1 {
  font-weight: 500;
  --fluid-type-min: 1.3rem;
  --fluid-type-max: 2.3rem;
  --fluid-type-target: 4vw;
}

.awesome h2 {
  font-weight: 400;
  --fluid-type-min: 1.2rem;
  --fluid-type-max: 2.1rem;
  --fluid-type-target: 4vw;
}

.awesome h3 {
  font-weight: 300;
  --fluid-type-min: 1.1rem;
  --fluid-type-max: 1.8rem;
  --fluid-type-target: 4vw;
}

.awesome hr {
  box-sizing: content-box;
  overflow: hidden;
  height: 0.2em;
  margin: 24px 0;
  transition:
    var(--transition-primary),
    background 300ms ease;
  background: var(--neutral);
  border: 0;
}

.awesome p {
  margin-top: 0;
  font-family: var(--font-code);
  margin-bottom: 10px;
}

.awesome li+li {
  margin-top: 0.25em;
}

/*
  ---------------------------------------
  List replace marker
  ---------------------------------------
*/
.awesome ul {
  padding-left: 0;
}

.awesome ul li {
  list-style: none;
  padding: 0;
  font-family: var(--font-code);
}

.awesome ul li {
  position: relative;
  padding-left: 28px;
}

.awesome ul li::before {
  content: "—";
  filter: invert(50%);
  position: absolute;
  left: 0;
}

.awesome a {
  background: transparent;
  color: var(--main-color);
  text-decoration: underline;
}