:where(.success, .warning, .error, .info, .cite) svg {
  width: 30px;
  height: 30px;
  align-self: center;
}

:where(.success, .warning, .error, .info, .cite) p {
  /* Override margin-bottom of the article p */
  margin-bottom: 0 !important;
}

:where(.success, .warning, .error, .info, .cite)>.header {
  width: 100%;
  display: flex;
  align-items: center;
}

:where(.success, .warning, .error, .info, .cite)>.header p {
  padding-left: 0.5em;
  --fluid-type-max: 1.3rem;
  font-family: var(--font-sans-serif);
  font-weight: 900;
}

:where(.success, .warning, .error, .info, .cite)>.children {
  margin-top: 1.5em;
}

.success,
.warning,
.info,
.cite,
.error {
  margin: 2em 0;
  padding: 1em 1.25em;
  border-radius: 0.75rem;
  color: var(--color-zinc-900);
  transition: var(--transition-primary);
}

.success {
  background: #22c55e1a;
  border-color: #22c55e80;
  border: 2px solid #22c55e80;
  color: #2e9148;
}

.warning {
  background: #f7b9241a;
  border-color: #f7b92480;
  border: 2px solid #f7b92480;
  color: #ffb86c;
}

/* Override the color of the text to improve contrast */
html:where([data-theme="light"], [data-theme="dune"], [data-theme="nord-light"]) .warning,
html:where([data-theme="light"], [data-theme="dune"], [data-theme="nord-light"]) .error {
  color: var(--color-zinc-900);
}

.info {
  background: #1e90ff1a;
  border-color: #1e90ff80;
  border: 2px solid #1e90ff80;
  color: #1e90ff;
}

.error {
  background: #ff4d4f1a;
  border-color: #ff4d4f80;
  border: 2px solid #ff4d4f80;
  color: #ff5555;
}

.cite {
  background: var(--color-zinc-200);
  border: 2px solid var(--color-zinc-300);
  color: var(--color-zinc-800);
}