.container {
  padding-top: 1.5em;
  position: relative;
}

.title {
  font-family: monospace;
  letter-spacing: 0.03em;
  color: var(--text-color);
  font-weight: 400;
  transition: var(--transition-primary);
  /* --fluid-type-min: 1.2rem; */
  --fluid-type-max: 2rem;
  --fluid-type-target: 4vw;
}

.list {
  margin: 0;
  padding: 1.5em 0 0 28px;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.item::before {
  content: "—";
  filter: invert(50%);
  position: absolute;
  left: 0;
}

.item {
  margin: 0;
  color: var(--main-color);
  transition: color 0.3s, filter 0.3s;
  font-family: monospace;
  line-height: 1.8;
  transition: var(--transition-primary)
}

.item:hover {
  text-decoration: underline;
}