.articleContainer {
  font-family: var(--font-sans);
  max-width: 60rem;
  margin: 0 auto;
}

.articleMarkdown {
  /* --fluid-type-min: 1rem; */
  padding: 1rem 0;
  color: var(--color-foreground-subtler);
  --fluid-type-max: 1.05em;
  --fluid-type-min: 1.05em;
}