article :where(h1, h2, h3, h4, h5, h6) {
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 16px;
  line-height: 1.3;
  border: none !important;
  font-family: var(--font-secondary);
}

article :where(table, tr, th, td, tbody, thead) {
  transition: var(--transition-primary);
}

article a {
  background: transparent;
  color: var(--main-color);
  text-decoration: underline;
}

article :where(b, strong) {
  font-weight: 800 !important;
}

article img {
  border-style: none;
  max-width: 100%;
  margin: 1em 0;
  box-sizing: content-box;
  background: var(--bg-color);
}

article hr {
  height: 0.2em;
  margin: 24px 0;
  transition: var(--transition-primary);
  background: var(--neutral);
  border: 0;
}

article h1 {
  font-weight: 600;
  --fluid-type-min: 1.3rem;
  --fluid-type-max: 2.3rem;
  --fluid-type-target: 4vw;
}

article h2 {
  font-weight: 600;
  --fluid-type-min: 1.2rem;
  --fluid-type-max: 2.1rem;
  --fluid-type-target: 4vw;
}

article h3 {
  font-weight: 500;
  --fluid-type-min: 1.1rem;
  --fluid-type-max: 1.8rem;
  --fluid-type-target: 4vw;
}

article h4 {
  font-weight: 500;
  --fluid-type-min: 1rem;
  --fluid-type-max: 1.5rem;
  --fluid-type-target: 4vw;
}

article h5 {
  font-weight: 400;
  --fluid-type-min: 0.9rem;
  --fluid-type-max: 1.3rem;
  --fluid-type-target: 4vw;
}

article h6 {
  font-weight: 400;
  --fluid-type-min: 0.8rem;
  --fluid-type-max: 1.1rem;
  --fluid-type-target: 4vw;
}

article p {
  margin-top: 0;
  margin-bottom: 10px;
}

@media (min-width: 1200px) {

  article p,
  article li {
    text-align: justify;
    hyphens: auto;
  }
}

article blockquote {
  margin: 2em 0 !important;
  padding: 0 2em;
  color: var(--text-gray-color);
  background: transparent;
  transition: var(--transition-primary);
  border-radius: 4px;
  position: relative;
  --fluid-type-max: 0.9rem;
}

article blockquote p {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-style: italic;
  padding: 0.2em;
  text-align: center;
  line-height: 1.5;
  --fluid-type-max: 1.3rem;
  --fluid-type-target: 5vw;
}

@media (min-width: 768px) {
  article blockquote p {
    padding: 1em;
  }
}

article blockquote::before {
  content: "";
  position: absolute;
  width: 3px;
  border-radius: 3em;
  background: var(--main-color);
  height: 100%;
  left: 0;
  line-height: 0.1em;
  vertical-align: -0.4em;
  color: var(--text-color);
}

article p code {
  background: var(--neutral) !important;
  padding: 0.02em 0.2em;
  border-radius: 0.3em;
  --fluid-type-max: 1rem;
}

article p em,
article p i {
  font-family: var(--font-secondary);
  font-style: italic;
  text-decoration: underline;
  text-decoration-line: underline;
  font-weight: 500;
}

article blockquote p code {
  font-family: var(--font-primary);
  background: var(--neutral);
  font-weight: 400;
  padding: 0.1em 0.3em;
}

article pre {
  margin-top: 0;
  margin: 1.5em 0;
  font-family: var(--font-code);
  word-wrap: normal;
  font-size: 12px;
}

article li+li {
  margin-top: 0.25em;
}

article table {
  border-collapse: collapse;
  max-width: 100%;
  width: 100%;
  table-layout: fixed;
  display: block;
  overflow: auto;
  padding: 1em 0;
  color: var(--text-color);
  background: var(--bg-color);
}

article table thead {
  display: table;
  position: relative;
  width: 100%;
}

article tbody {
  display: table;
  position: relative;
  width: 100%;
}

article table th,
article table td {
  padding: 6px 13px;
  font-family: var(--font-secondary);
  color: var(--text-color);
  transition: var(--transition-primary);
  border: 1px solid var(--sub-alt-color);
}

article table tr {
  background: var(--bg-color);
  transition: var(--transition-primary);
  border-top: 1px solid var(--sub-alt-color);
}

article table tr:nth-child(2n) {
  background: var(--bg-alt-color);
}

article pre code {
  padding: 1em 0;
  --fluid-type-max: 1rem;
  --fluid-type-min: 0.8rem;
  --fluid-type-target: 1vw;
}

article figure pre code span {
  font-family: var(--font-code);
  line-height: 1.8;
  font-weight: 400;
  text-wrap: wrap;
  word-wrap: break-word;
}

/*
  ---------------------------------------
  List replace marker
  ---------------------------------------
*/
article ul {
  padding-left: 0;
}

article ul li {
  list-style: none;
  padding: 0;
}

article ul li {
  position: relative;
  padding-left: 28px;
}

article ul li::before {
  content: "—";
  filter: invert(50%);
  position: absolute;
  left: 0;
}

article ol {
  margin-left: 28px;
  padding: 1.8em 0;
}

article ol li::marker {
  color: var(--main-color);
  font-weight: 800;
  font-family: var(--font-secondary);
}

/*
  ---------------------------------------
  Theme
  ---------------------------------------
*/

html code {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
  transition: var(--transition-primary);
}

html code span {
  color: var(--shiki-light);
}

.dark code {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

.dark code span {
  color: var(--shiki-dark);
}

/*
  ---------------------------------------
  rehypePrettyCode styles
  ---------------------------------------
*/

article mark[data-chars-id] {
  padding: 0.2em;
  border-radius: 0.3em;
}

article mark[data-chars-id="s"] {
  background: #52371B;
  border-bottom: 1px solid #FDCB33;
}

article mark[data-chars-id="s"] span {
  color: #FDCB33;
}

article mark[data-chars-id="v"] {
  background: #5F1931;
  border-bottom: 1px solid #D798CF;
}

article mark[data-chars-id="v"] span {
  color: #D798CF;
}

article mark[data-chars-id="i"] {
  background: #452168;
  border-bottom: 1px solid #C0A9DA;
}

article mark[data-chars-id="i"] span {
  color: #C0A9DA;
}

/*
  ---------------------------------------
  Line Numbers
  ---------------------------------------
*/

code {
  counter-reset: line;
}

code[data-line-numbers]>[data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"]>[data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"]>[data-line]::before {
  width: 3rem;
}