@import url(./rehype-pretty-code.css);

.blogpost :where(h1, h2, h3, h4, h5, h6) {
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 16px;
  line-height: 1.3;
  border: none !important;
  font-family: var(--font-sans);
}

.blogpost :where(table, tr, th, td, tbody, thead) {
  transition: var(--transition-primary);
}

.blogpost a {
  background: transparent;
  color: var(--main-color);
  text-decoration: underline;
}

.blogpost :where(b, strong) {
  font-weight: 800 !important;
  color: var(--color-foreground-subtle);
}

.blogpost img {
  border-style: none;
  max-width: 100%;
  margin: 1em 0;
  box-sizing: content-box;
  background: var(--color-zinc-50);
}

.blogpost hr {
  height: 0.2em;
  margin: 24px 0;
  transition: var(--transition-primary);
  background: var(--neutral);
  border: 0;
}

.blogpost h1 {
  font-weight: 600;
  --fluid-type-max: 1.6rem;
  --fluid-type-target: 4vw;
}

.blogpost h2 {
  font-weight: 600;
  --fluid-type-max: 1.5rem;
  --fluid-type-target: 4vw;
}

.blogpost h3 {
  font-weight: 500;
  --fluid-type-max: 1.4rem;
  --fluid-type-target: 4vw;
}

.blogpost h4 {
  font-weight: 500;
  --fluid-type-max: 1.3rem;
  --fluid-type-target: 4vw;
}

.blogpost h5 {
  font-weight: 400;
  --fluid-type-max: 1.2rem;
  --fluid-type-target: 4vw;
}

.blogpost h6 {
  font-weight: 400;
  --fluid-type-max: 1.1rem;
  --fluid-type-target: 4vw;
}

.blogpost>p {
  margin: 22px 0;
}

@media (min-width: 1200px) {

  .blogpost p,
  .blogpost li {
    text-align: justify;
    hyphens: auto;
    text-wrap: pretty;
  }
}

.blogpost blockquote {
  margin: 2em 0;
  padding: 0 1em;
  color: var(--text-gray-color);
  background: var(--color-zinc-100);
  transition: var(--transition-primary);
  border-radius: 4px;
  position: relative;
  --fluid-type-max: 0.9rem;
}

.blogpost blockquote p {
  font-family: var(--font-sans-serif);
  font-weight: 400;
  font-style: italic;
  padding: 0.1em;
  text-align: left;
  line-height: 1.5;
  --fluid-type-max: 1.2rem;
  --fluid-type-target: 3vw;
}

@media (min-width: 768px) {
  .blogpost blockquote p {
    padding: 1em;
  }
}

.blogpost blockquote::before {
  content: "";
  position: absolute;
  width: 3px;
  border-radius: 3em;
  background: var(--main-color);
  height: 100%;
  left: 0;
  line-height: 0.1em;
  vertical-align: -0.4em;
  color: var(--color-zinc-900);
}

.blogpost code {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  font-family: var(--font-mono) !important;
  letter-spacing: -0.02em;
  font-size: inherit;
}

/* Fix shiki line highlight */
.blogpost pre code span[data-highlighted-line] span {
  background-color: transparent !important;
}

.blogpost figure pre code span[data-line] mark[data-highlighted-chars] span {
  background: transparent !important;
}

.blogpost p code,
.blogpost ol li code,
.blogpost ul li code {
  background: var(--color-zinc-200) !important;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  font-family: var(--font-mono);
  letter-spacing: -0.02em;
  --fluid-type-min: 0.95rem;
  --fluid-type-max: 1rem;
}

.blogpost p em,
.blogpost p i {
  font-style: italic;
  /* text-decoration: underline; */
  /* text-underline-offset: 5px; */
}

.blogpost blockquote p code {
  font-family: var(--font-sans-serif);
  background: var(--neutral);
  font-weight: 400;
  padding: 0.1em 0.3em;
  --fluid-type-min: 0.95rem;
  --fluid-type-max: 1rem;
}

.blogpost pre {
  margin-top: 0;
  margin: 1.5em 0;
  font-family: var(--font-mono);
  word-wrap: normal;
  font-size: 12px;
}

.blogpost li+li {
  margin-top: 0.25em;
}

.blogpost table {
  border-collapse: collapse;
  max-width: 100%;
  width: 100%;
  table-layout: fixed;
  padding: 1em 0;
  color: var(--color-zinc-900);
  background: var(--color-zinc-50);

 display: block; /* Permitir overflow na própria tabela */
  overflow-x: auto; /* Habilita o scroll horizontal */
  -webkit-overflow-scrolling: touch; /* Melhoria de scroll para iOS */
  text-wrap: nowrap; /* Impede quebra de linha automática */
}

.blogpost table thead {
  display: table-header-group;
  position: relative;
  width: 100%;
}

.blogpost tbody {
  display: table-row-group;
  position: relative;
  width: 100%;
}

.blogpost table th,
.blogpost table td {
  padding: 6px 13px;
  font-family: var(--font-sans);
  color: var(--color-zinc-900);
  transition: var(--transition-primary);
  border: 1px solid var(--color-zinc-100);
}

.blogpost table tr {
  background: var(--color-zinc-50);
  transition: var(--transition-primary);
  border-top: 1px solid var(--color-zinc-100);
}

.blogpost table tr:nth-child(2n) {
  background: var(--color-zinc-200);
}

.blogpost table .katex {
  background-color: transparent;
  color: var(--color-foreground-subtle);
}

.blogpost pre code {
  width: 100%;
  overflow-x: auto;
  padding: 1em;
  border-radius: 8px;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  letter-spacing: -0.02em;
  --fluid-type-min: 0.95rem;
  --fluid-type-max: 1rem;
}

.blogpost figure pre code span {
  font-family: var(--font-mono);
  line-height: 1.8;
  font-weight: 400;
  --fluid-type-min: 0.95rem;
}

/*
  ---------------------------------------
  List replace marker
  ---------------------------------------
*/
.blogpost ul {
  padding-left: 0;
}

.blogpost ul li {
  list-style: none;
  padding: 0;
}

.blogpost ul li {
  position: relative;
  padding-left: 28px;
}

.blogpost ul li::before {
  content: "—";
  filter: invert(50%);
  position: absolute;
  left: 0;
}

.blogpost ol {
  margin-left: 28px;
  /* padding: 1.8em 0; */
}

.blogpost ol li::marker {
  color: var(--main-color);
  font-weight: 800;
  font-family: var(--font-sans);
}

