.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: var(--text-color);
  background: var(--bg-color);
  line-height: 2em;
  font-weight: 400;
  word-wrap: break-word;
  transition: var(--transition-primary);
}

.markdown-body :where(h1, h2, h3, h4, h5, h6) {
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 16px;
  line-height: 1.3;
  border: none !important;
  font-family: var(--font-secondary);
}

.markdown-body :where(p, span, a, li, blockquote, pre, img, table) {
  font-family: var(--font-primary);
  font-weight: 400;
}

.markdown-body :where(code, kbd, samp) {
  font-family: var(--font-code);
}

.markdown-body p:has(img) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.markdown-body :where(table, tr, th, td, tbody, thead) {
  transition: var(--transition-primary);
}

.markdown-body :where(details, figcaption, figure) {
  display: block;
}

.markdown-body summary {
  display: list-item;
}

.markdown-body [hidden] {
  display: none !important;
}

.markdown-body a {
  background: transparent;
  color: var(--main-color);
  text-decoration: none;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body a:active,
.markdown-body a:hover {
  outline-width: 0;
}

.markdown-body abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

.markdown-body :where(b, strong) {
  font-weight: 800 !important;
  font-family: var(--font-primary);
}

.markdown-body :where(b, strong, code) {
  font-weight: 500;
}

.markdown-body dfn {
  font-style: italic;
}

.markdown-body mark {
  background: #fff8c5;
  color: var(--text-color);
}

.markdown-body small {
  font-size: 90%;
}

.markdown-body:where(sub, sup) {
  font-size: 100%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdown-body sub {
  bottom: -0.25em;
}

.markdown-body sup {
  top: -0.5em;
}

.markdown-body img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background: var(--bg-color);
}

.markdown-body:where(code, kbd, pre, samp) {
  font-family: var(--font-code);
  font-size: 1em;
}

.markdown-body figure {
  margin: 1em 40px;
}

.markdown-body hr {
  box-sizing: content-box;
  overflow: hidden;
  height: 0.2em;
  margin: 24px 0;
  transition:
    var(--transition-primary),
    background 300ms ease;
  background: var(--neutral);
  border: 0;
}

.markdown-body a {
  text-decoration: underline;
}

.markdown-body hr::before {
  display: table;
  content: "";
}

.markdown-body hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body table {
  border-collapse: collapse;
  max-width: 100%;
  width: 100%;
  overflow: auto;
  color: var(--text-color);
  background: var(--bg-color);
}

.markdown-body:where(td, th) {
  padding: 0;
}

.markdown-body details summary {
  cursor: pointer;
}

.markdown-body details:not([open])>*:not(summary) {
  display: none !important;
}

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  line-height: 10px;
  color: #24292f;
  vertical-align: middle;
  background: var(--bg-color);
  border: solid 1px rgba(175, 184, 193, 0.2);
  border-bottom-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(175, 184, 193, 0.2);
}

.markdown-body h1 {
  font-weight: 600;
  --fluid-type-min: 1.3rem;
  --fluid-type-max: 2.3rem;
  --fluid-type-target: 4vw;
}

.markdown-body h2 {
  font-weight: 600;
  --fluid-type-min: 1.2rem;
  --fluid-type-max: 2.1rem;
  --fluid-type-target: 4vw;
}

.markdown-body h3 {
  font-weight: 500;
  --fluid-type-min: 1.1rem;
  --fluid-type-max: 1.8rem;
  --fluid-type-target: 4vw;
}

.markdown-body h4 {
  font-weight: 500;
  --fluid-type-min: 1rem;
  --fluid-type-max: 1.5rem;
  --fluid-type-target: 4vw;
}

.markdown-body h5 {
  font-weight: 400;
  --fluid-type-min: 0.9rem;
  --fluid-type-max: 1.3rem;
  --fluid-type-target: 4vw;
}

.markdown-body h6 {
  font-weight: 400;
  --fluid-type-min: 0.8rem;
  --fluid-type-max: 1.1rem;
  --fluid-type-target: 4vw;
}

.markdown-body p {
  margin-top: 0;
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .markdown-body p {
    text-align: justify;
  }
}

.markdown-body blockquote {
  margin: 2em 0 !important;
  padding: 0 2em;
  color: var(--text-gray-color);
  background: transparent;
  transition: var(--transition-primary);
  border-radius: 4px;
  position: relative;
  --fluid-type-max: 0.9rem;
}

.markdown-body blockquote p {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-style: italic;
  padding: 1em;
  text-align: center;
  line-height: 1.3;
  --fluid-type-max: 1.3rem;
  --fluid-type-target: 5vw;
}

.markdown-body blockquote::before {
  content: "";
  position: absolute;
  width: 3px;
  border-radius: 3em;
  background: var(--main-color);
  height: 100%;
  left: 0;
  line-height: 0.1em;
  vertical-align: -0.4em;
  color: var(--text-color);
}

.markdown-body blockquote::after {
  content: "";
  position: absolute;
  width: 3px;
  border-radius: 3em;
  background: var(--main-color);
  height: 100%;
  top: 0;
  right: 0;
  line-height: 0.1em;
  vertical-align: -0.4em;
  color: var(--text-color);
}

.markdown-body blockquote p code {
  font-family: var(--font-primary);
  font-weight: 400;
  padding: 0.1em 0.3em;
}

.markdown-body:where(ul, ol) {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body dd {
  margin-left: 0;
}

.markdown-body :where(tt, code, samp) {
  font-family: var(--font-code);
  font-size: 12px;
}

.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--font-code), monospace;
  word-wrap: normal;
  font-size: 12px;
}

.markdown-body ::placeholder {
  color: #6e7781;
  opacity: 1;
}

.markdown-body input::-webkit-outer-spin-button,
.markdown-body input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.markdown-body::before {
  display: table;
  content: "";
}

.markdown-body::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body>*:first-child {
  margin-top: 0 !important;
}

.markdown-body>*:last-child {
  margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body .absent {
  color: #cf222e;
}

.markdown-body .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.markdown-body .anchor:focus {
  outline: none;
}

.markdown-body :where(p, blockquote, ul, ol, dl, table, pre, details) {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body p em {
  font-style: italic;
}

.markdown-body blockquote> :first-child {
  margin-top: 0;
}

.markdown-body blockquote> :last-child {
  margin-bottom: 0;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  text-decoration: none;
}

.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-body h1 tt,
.markdown-body h1 code,
.markdown-body h2 tt,
.markdown-body h2 code,
.markdown-body h3 tt,
.markdown-body h3 code,
.markdown-body h4 tt,
.markdown-body h4 code,
.markdown-body h5 tt,
.markdown-body h5 code,
.markdown-body h6 tt,
.markdown-body h6 code {
  padding: 0 0.2em;
  font-size: inherit;
}

.markdown-body summary :where(h1, h2, h3, h4, h5, h6) {
  display: inline-block;
}

.markdown-body summary :where(h1, h2) {
  padding-bottom: 0;
  border-bottom: 0;
}

.markdown-body :where(ul.no-list, ol.no-list) {
  padding: 0;
  list-style-type: none;
}

.markdown-body ol[type="1"] {
  list-style-type: decimal;
}

.markdown-body ol[type="a"] {
  list-style-type: lower-alpha;
}

.markdown-body ol[type="i"] {
  list-style-type: lower-roman;
}

.markdown-body div>ol:not([type]) {
  list-style-type: decimal;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body li>p {
  margin-top: 16px;
}

.markdown-body li+li {
  margin-top: 0.25em;
}

.markdown-body dl {
  padding: 0;
}

.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body table th {
  font-weight: 600;
}

.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  color: var(--text-color);
  transition: var(--transition-primary);
  border: 1px solid var(--sub-alt-color);
}

.markdown-body table tr {
  background: var(--bg-color);
  transition: var(--transition-primary);
  border-top: 1px solid var(--sub-alt-color);
}

.markdown-body table tr:nth-child(2n) {
  background: var(--bg-alt-color);
}

.markdown-body table img {
  background: transparent;
}

.markdown-body img[align="right"] {
  padding-left: 20px;
}

.markdown-body img[align="left"] {
  padding-right: 20px;
}

.markdown-body:where(code, tt) {
  padding: 0.01em 0.25em;
  margin: 0;
  font-size: 85%;
  border-radius: 6px;
  font-family: var(--font-code);
}

.markdown-body p code {
  background: var(--highlight);
  color: var(--highlight-text);
  font-style: normal;
  font-family: var(--font-code);
  padding: 0.01em 0.3em;
  font-weight: 400;
  transition: var(--transition-primary);
  --fluid-type-min: 0.7em !important;
  --fluid-type-max: 0.9em !important;
  --fluid-type-target: 4vw !important;
}

.markdown-body pre code span {
  font-family: var(--font-code);
  font-weight: 400;
}

.markdown-body code br,
.markdown-body tt br {
  display: none;
}

.markdown-body del code {
  text-decoration: inherit;
}

.markdown-body samp {
  font-size: 85%;
}

.markdown-body pre code {
  font-size: 100%;
}

.markdown-body pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body .highlight {
  margin-bottom: 16px;
}

.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body .highlight pre,
.markdown-body pre {
  overflow: auto;
  font-size: 1em;
  line-height: 1.45;
  border-radius: 6px;
}

.markdown-body pre code,
.markdown-body pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: 0;
  word-wrap: normal;
  background: transparent;
  display: block;
  border: 0;
  font-family: var(--font-code);
  --fluid-type-min: 0.8rem;
  --fluid-type-max: 1rem;
  --fluid-type-target: 2vw;
}

.markdown-body ul {
  padding-left: 0;
}

.markdown-body ul li {
  list-style: none;
  padding: 0;
}

.markdown-body ul li {
  position: relative;
  padding-left: 28px;
}

.markdown-body ul li::before {
  content: "—";
  filter: invert(50%);
  position: absolute;
  left: 0;
}