.katex span {
  --fluid-type-target: 1.5vw;
  --fluid-type-max: 1.3rem;
  --fluid-type-min: 1.1rem;
}

.katex-display {
  margin: 2em 0 !important;
  padding: 1em;
}

.katex-display .text span {
  font-family: var(--font-tex) !important;
}

.katex-display span {
  --fluid-type-target: 1.5vw;
  --fluid-type-max: 1.5rem;
  --fluid-type-min: 1.3rem;
}