* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: var(--main-color) var(--color-zinc-200);
  scrollbar-width: 2px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.8;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-serif: var(--eb-garamond);
  --font-mono: var(--ibm-plex-mono);
  --font-sans: var(--atkinson);
  --font-sans-serif: var(--inter);
}

@supports (-webkit-font-smoothing: antialiased) {
  body {
    -webkit-font-smoothing: antialiased;
  }
}

@supports not (-moz-osx-font-smoothing: antialiased) {
  body {
    -moz-osx-font-smoothing: subpixel-antialiased;
  }
}

span img {
  object-fit: cover !important;
}

a {
  text-decoration: none;
  text-underline-position: under;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
p,
time,
pre,
strong,
button,
code,
samp,
figcaption,
blockquote,
li,
tt {
  --clamp-font: clamp(var(--fluid-type-min, 1rem),
      calc(0.5rem + var(--fluid-type-target, 3vw)),
      var(--user-font-size, var(--fluid-type-max, 1rem)));
  font-size: var(--clamp-font);
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  font-optical-sizing: 100%;
}

::-moz-selection {
  color: var(--color-zinc-50);
  background: var(--color-zinc-900);
}

::selection {
  color: var(--color-zinc-50);
  background: var(--color-zinc-900);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.fade {
  opacity: 1;
  transition: opacity 3s ease;
}