:root {
  --main-color: #5b71c8;

  --color-zinc-50: #e4e4e7;
  --color-zinc-100:  #DFDFE2;
  --color-zinc-200:#D9D9DD;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #a1a1aa;
  --color-zinc-600: #71717a;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #3f3f46;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;
  --color-foreground: var(--color-zinc-950);
  --color-foreground-subtle: var(--color-zinc-800);
  --color-foreground-subtler: var(--color-zinc-700);

  --color-zinc-100-translucent: rgba(223, 223, 226, 0.589);
  --color-zinc-200-translucent: rgba(217, 217, 221, 0.589);
  --neutral: #dfe3e6;

  --select: rgb(68, 51, 255);
  --success: rgb(152, 255, 195);
  --error: rgb(247, 136, 144);
  --warning: rgb(247, 215, 148);
  --info: rgb(129, 236, 236);

  --transition-primary: color 200ms ease, background 200ms ease,
    border-color 200ms ease, box-shadow 200ms ease, fill 200ms ease,
    stroke 200ms ease;

  --font-tex: KaTeX_Math;
}

[data-theme="dark"]:root {
  --main-color: #91a7ff;

  --select: #91a7ff;
  --color-zinc-100-translucent: rgba(24, 24, 27, 0.589);
  --color-zinc-200-translucent: rgba(39, 39, 42, 0.589);

  --neutral: #0F0F0F;

  --color-zinc-50: #09090b;
  --color-zinc-100: #18181b;
  --color-zinc-200: #27272a;
  --color-zinc-300: #3f3f46;
  --color-zinc-400: #52525b;
  --color-zinc-500: #71717a;
  --color-zinc-600: #a1a1aa;
  --color-zinc-700: #d4d4d8;
  --color-zinc-800: #e4e4e7;
  --color-zinc-900: #f4f4f5;
  --color-zinc-950: #fafafa;
  --color-foreground: var(--color-zinc-950);
  --color-foreground-subtle: var(--color-zinc-700);
  --color-foreground-subtler: var(--color-zinc-600);
}

body {
  background-color: var(--color-zinc-50);
  color: var(--color-zinc-900);
  transition: var(--transition-primary);
}
