@import url(./fonts.css);

:root {
  --bg-color: #ffffff;
  --bg-alt-color: #f2f3f7;
  --text-color: #1c2334;
  --text-gray-color: #555969;
  --text-alt-color: #080808;
  --text-highlight: #1c2334;
  --main-color: rgb(131, 56, 236);
  --sub-color: #c9c9cf;
  --sub-alt-color: #f4f4f6;

  --cb-bg-color: rgba(255, 255, 255, 0.6);
  --cb-box-alt-color: rgba(0, 0, 0, 0.1);
  --neutral: #dfe3e6;

  --select: rgb(68, 51, 255);
  --success: rgb(152, 255, 195);
  --error: rgb(247, 136, 144);
  --warning: rgb(247, 215, 148);
  --info: rgb(129, 236, 236);

  --transition-primary: color 200ms ease, background 200ms ease,
    border-color 200ms ease, box-shadow 200ms ease, fill 200ms ease,
    stroke 200ms ease;

  --system-ui: var(--headers-font);
  --font-primary: var(--headers-font);
  --font-tex: KaTeX_Math;
  --font-secondary: var(--body-font);
  --font-title: var(--font-secondary);
  --font-bolder: var(--headers-font);
  --font-code: "IntoneMono Nerd Font", ui-monospace, monospace;
  --font-bolder: var(--headers-font);
  --font-serif: "Spectral", serif;
}

[data-theme="dark"]:root {
  --bg-color: #000000;
  --bg-alt-color: #0A0A0A;
  --text-color: #fafafa;
  --text-gray-color: #b1b1b1;
  --text-highlight: #000000;

  --text-alt-color: #ffffff;
  --main-color: rgb(119, 142, 255);
  --sub-color: #0D0D0D;
  --sub-alt-color: #0D0D0D;

  --select: #617bff;
  --cb-bg-color: rgba(0, 0, 0, 0.6);
  --cb-box-alt-color: rgba(16, 16, 16, 0.1);

  --neutral: #0F0F0F;
}

[data-theme="desert"]:root {
  --bg-color: #f4eeeb;
  --bg-alt-color: hsl(30, 39%, 91%);
  --text-color: #2d2b27;
  --text-gray-color: #8f8073;
  --text-highlight: #2d2b27;

  --text-alt-color: #7d7564;
  --main-color: rgb(211, 146, 104);
  --sub-color: #b3764f;
  --sub-alt-color: rgba(234, 219, 199, 0.3);

  --select: #eadbc7;
  --cb-bg-color: rgba(216, 207, 199, 0.1);
  --cb-box-alt-color: rgba(216, 207, 199, 0.3);

  --neutral: #e8dbd1;
}

[data-theme="nord-light"]:root {
  --bg-color: #eceff4;
  --bg-alt-color: #e3e7ed;
  --text-color: #6a7791;
  --text-gray-color: #535e75;
  --text-highlight: #6a7791;

  --text-alt-color: #535e75;
  --main-color: #8fbcbb;
  --sub-color: #535e75;
  --sub-alt-color: hsl(225, 30%, 91%);

  --select: #8fbcbb;
  --cb-bg-color: rgba(240, 240, 240, 0.3);
  --cb-box-alt-color: rgba(199, 205, 215, 0.1);

  --neutral: #c7cdd7;
}

[data-theme="noveau"]:root {
  --bg-color: #202020;
  --bg-alt-color: #282828;
  --text-color: #dddddd;
  --text-gray-color: #bbbbbb;
  --text-highlight: #6a7791;

  --text-alt-color: #ffffff;
  --main-color: #717171;
  --sub-color: #38383b;
  --sub-alt-color: #2f2f33;

  --select: #444;
  --cb-bg-color: rgba(38, 35, 35, 0.6);
  --cb-box-alt-color: rgba(92, 88, 88, 0.6);

  --neutral: #3a4048;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition-primary);
  font-family: var(--font-primary);
  font-style: normal;
  font-display: swap;
}
