:root {
  --bg-color: #ffffff;
  --bg-alt-color: #f2f3f7;
  --text-color: #1c2334;
  --text-gray-color: #555969;
  --text-alt-color: #080808;
  --text-highlight: #1c2334;
  --main-color: #8338ec;
  --sub-color: #c9c9cf;
  --sub-alt-color: #f4f4f6;
  --border-color: #c9c9cf;

  --cb-bg-color: rgba(255, 255, 255, 0.6);
  --cb-box-alt-color: rgba(52, 52, 52, 0.7);
  --neutral: #dfe3e6;

  --select: rgb(68, 51, 255);
  --success: rgb(152, 255, 195);
  --error: rgb(247, 136, 144);
  --warning: rgb(247, 215, 148);
  --info: rgb(129, 236, 236);


  --highlight-yellow: rgba(255, 230, 194, 0.6);
  --highlight-blue: rgba(194, 221, 255, 0.6);
  --highlight-red: rgba(255, 206, 206, 0.6);
  --highlight-purple: rgba(221, 194, 255, 0.6);
  --highlight-green: rgba(194, 255, 206, 0.6);

  --transition-primary: color 200ms ease, background 200ms ease,
    border-color 200ms ease, box-shadow 200ms ease, fill 200ms ease,
    stroke 200ms ease;

  --system-ui: var(--headers-font);
  --font-primary: var(--headers-font);
  --font-secondary: var(--body-font);
  --font-tex: KaTeX_Math;
  --font-title: var(--font-secondary);
  --font-bolder: var(--headers-font);
  --font-code: "IntoneMono Nerd Font", ui-monospace, monospace;
  --font-bolder: var(--headers-font);
  --font-serif: "Spectral", serif;
}

[data-theme="dark"]:root {
  --bg-color: #121212;
  --bg-alt-color: #242424;
  --text-color: #fafafa;
  --text-gray-color: #b1b1b1;
  --text-highlight: #121212;
  --border-color: #2a2a2a;

  --text-alt-color: #ffffff;
  --main-color: #778eff;
  --sub-color: #141414;
  --sub-alt-color: #141414;

  --select: #617bff;
  --cb-bg-color: rgba(70, 70, 70, 0.589);
  --cb-box-alt-color: rgba(70, 70, 70, 0.589);

  --neutral: #0F0F0F;
}

[data-theme="dune"]:root {
  --bg-color: #4D2116;
  --bg-alt-color: #753A2C;
  --text-color: #DE846E;
  --text-gray-color: #9C5341;
  --text-highlight: #D1755E;
  --border-color: #693326;

  --text-alt-color: #D1755E;
  --main-color: #CB5937;
  --sub-color: #753A2C;
  --sub-alt-color: rgba(117, 58, 44, 0.6);

  --select: #753A2C;
  --cb-bg-color: rgba(117, 58, 44, 0.5);
  --cb-box-alt-color: rgba(117, 58, 44, 0.6);

  --neutral: #824333;

  --highlight-yellow: rgba(137, 103, 55, 0.6);
  --highlight-blue: rgba(47, 78, 116, 0.6);
  --highlight-red: rgba(160, 60, 60, 0.6);
  --highlight-purple: rgba(88, 57, 125, 0.6);
  --highlight-green: rgba(35, 94, 47, 0.6);
}

[data-theme="nord-light"]:root {
  --bg-color: #eceff4;
  --bg-alt-color: #e3e7ed;
  --text-color: #6a7791;
  --text-gray-color: #535e75;
  --text-highlight: #6a7791;
  --border-color: #c7cdd7;

  --text-alt-color: #535e75;
  --main-color: #8fbcbb;
  --sub-color: #535e75;
  --sub-alt-color: hsl(225, 30%, 91%);

  --select: #8fbcbb;
  --cb-bg-color: rgba(240, 240, 240, 0.3);
  --cb-box-alt-color: rgba(240, 240, 240, 0.3);

  --neutral: #c7cdd7;
}

[data-theme="noveau"]:root {
  --bg-color: #202020;
  --bg-alt-color: #272727;
  --text-color: #dddddd;
  --text-gray-color: #bbbbbb;
  --text-highlight: #6a7791;
  --border-color: #3a4048;

  --text-alt-color: #ffffff;
  --main-color: #717171;
  --sub-color: #272727;
  --sub-alt-color: #272727;

  --select: #444;
  --cb-bg-color: rgba(38, 35, 35, 0.6);
  --cb-box-alt-color: rgba(38, 35, 35, 0.6);

  --neutral: #3a4048;
}

[data-theme="slate"]:root {
  --bg-color: #4A525A;
  --bg-alt-color: #566069;
  --text-color: #eeeeee;
  --text-gray-color: #8492A1;
  --text-highlight: #566069;
  --border-color: #626D78;

  --text-alt-color: #F8F8F8;
  --main-color: #ffffff;
  --sub-color: #626D78;
  --sub-alt-color: #626D78;

  --select: #8492A1;
  --cb-bg-color: rgba(98, 109, 120, 0.4);
  --cb-box-alt-color: rgba(86, 96, 105, 0.8);

  --neutral: #8492A1;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition-primary);
  font-family: var(--font-primary);
  font-style: normal;
}